@media screen and (min-width: 767px) and (max-width: 1200px) {
  .bars {
    display: flex;
    width: 30%;
  }
  nav {
    display: none;
  }
  .searchBoxParent {
    display: none;
  }
  .header_left {
    width: 30%;
  }
  .mobileHeaderNav .searchBoxParent {
    display: block;
    padding: 30px 0;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .bars {
    display: flex;
  }
  nav {
    display: none;
  }
  .searchBoxParent {
    display: none;
  }
  header {
    flex-direction: row-reverse;
  }
  .mobileHeaderNav nav {
    display: block;
  }
  .mobileHeaderNav nav .navList .mobile_visible_nav {
    display: block;
  }
  .mobileHeaderNav .searchBoxParent {
    display: block;
    padding: 30px 0;
  }
  #mainSlider .slider_all .slider_card {
    padding: 50px 10px;
  }
  #mainSlider .slider_all .slider_card .slider_card_left {
    width: 100%;
  }
  #mainSlider .slider_all .slider_card .slider_card_left h1 {
    font-size: 34px;
    line-height: 37px;
  }
  #mainSlider .slider_all .slider_card .slider_card_left a i {
    margin-right: 5px;
  }
  #mainSlider .slider_all .slider_card .slider_card_right {
    position: absolute;
    z-index: 11;
    width: 100%;
  }
  #mainSlider .slider_all .slider_card .slider_card_right .orange_animation {
    left: 5%;
    width: 350px;
    height: 350px;
  }
  #mainSlider .slider_all .slider_card .slider_card_right img {
    max-width: 445px;
  }
  #mainSlider .slider_all .slider_card .img_animation {
    background-color: rgba(255, 255, 255, 0.528);
    z-index: 111;
    animation: none;
  }
  #advantages .advantages_all .advantage_cards {
    flex-wrap: wrap;
    row-gap: 140px;
    justify-content: center;
  }
  #advantages .advantages_all .advantage_cards .advantage_card {
    width: 90%;
    position: relative;
  }
  #advantages .advantages_all .advantage_cards .advantage_card .img {
    position: unset;
  }
  #advantages .advantages_all .advantage_cards .advantage_card .arrow {
    top: 120%;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
  .container {
    padding: 0 20px;
  }
  #categories .categories_cards {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
  #discover .discover_all {
    padding: 0 15px;
  }
  #discover .discover_all .text h3 {
    font-size: 14px;
  }
  #discover .discover_all .text h2 {
    font-size: 40px;
    margin-bottom: 36px;
  }
  #topSelling .title {
    margin: 140px 0 70px;
    text-align: center;
    margin-bottom: 87px;
  }
  #topSelling .title h2 {
    font-size: 45px;
    font-weight: 800px;
    line-height: 50px;
    letter-spacing: -2px;
    max-width: 540px;
    margin: auto;
    margin-bottom: 12px;
  }
  #topSelling .title h2 span {
    color: var(--primary);
  }
  #topSelling .title p {
    font-size: 14px;
    line-height: 24px;
    color: var(--text);
    max-width: 595px;
    margin: auto;
  }
  #topSelling .topSellingCard {
    transition: 0.3s;
    background-color: #fff;
    transform: scale(0.98);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.07);
  }
  #topSelling .topSellingCard .img .buttons {
    transition: 0.3s;
    top: 4%;
    opacity: 1;
    left: 78%;
  }
  #topSelling .topSellingCard .img .buttons button:hover {
    color: #fff;
    background: var(--primary);
  }
  #topSelling .topSellingCard .text button {
    visibility: visible;
    opacity: 1;
  }
  #signUp {
    height: auto;
  }
  #signUp .signUp_all {
    background-size: cover;
  }
  #signUp .signUp_all .sign_up_container {
    flex-wrap: wrap;
    gap: 30px;
  }
  #signUp .signUp_all .sign_up_container .left {
    justify-content: center;
    width: 100%;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #signUp .signUp_all .sign_up_container .form_div {
    text-align: center;
    width: 100%;
  }
  #signUp .signUp_all .sign_up_container .form_div p {
    margin: auto;
    margin-bottom: 30px;
  }
  #signUp .signUp_all .sign_up_container .form_div form {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #signUp .signUp_all .sign_up_container .form_div form button {
    width: 100%;
    max-width: 415px;
  }
  #footer .footer_all .footer_bottom {
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
  }
  #footer .footer_all .footer_bottom .copyright {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #footer .footer_all .footer_bottom .payment_methods {
    width: 100%;
  }
  #footer .footer_all .footer_bottom .back_to_top {
    width: 100%;
    justify-content: center;
  }
  .header_left {
    display: none;
  }
  .logo {
    justify-content: flex-start;
  }
  .logo img {
    max-height: 75px;
  }
}
@media screen and (min-width: 767px) and (max-width: 880px) {
  #advantages .advantages_all .advantage_cards {
    flex-wrap: wrap;
    row-gap: 100px;
  }
  #advantages .advantages_all .advantage_cards .advantage_card {
    width: 48%;
  }
  #advantages .advantages_all .advantage_cards .advantage_card .arrow {
    display: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 1060px) {
  #signUp {
    height: auto;
  }
  #signUp .signUp_all {
    background-size: cover;
  }
  #signUp .signUp_all .sign_up_container {
    flex-wrap: wrap;
    gap: 30px;
  }
  #signUp .signUp_all .sign_up_container .left {
    justify-content: center;
    width: 100%;
  }
  #signUp .signUp_all .sign_up_container .form_div {
    text-align: center;
    width: 100%;
  }
  #signUp .signUp_all .sign_up_container .form_div p {
    margin: auto;
    margin-bottom: 30px;
  }
  #signUp .signUp_all .sign_up_container .form_div form {
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  #signUp .signUp_all .sign_up_container .text p {
    font-size: 35px;
  }
}
@media screen and (max-width: 945px) {
  #topSelling .swiper_overlay .productCardPopUp {
    flex-direction: column;
    overflow: scroll;
  }
  #topSelling .swiper_overlay .productCardPopUp .img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #topSelling .swiper_overlay .productCardPopUp .right {
    width: 100%;
    overflow-y: unset;
  }
  #topSelling .swiper_overlay .productCardPopUp .right .buttons .top_buttons {
    justify-content: space-between;
  }
}
@media screen and (max-width: 470px) {
  #topSelling .swiper_overlay .productCardPopUp .right .options .product_option {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  #topSelling .swiper_overlay .productCardPopUp .right .options .product_option .select {
    width: 100%;
  }
  #topSelling .swiper_overlay .productCardPopUp .right .buttons .top_buttons {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  #topSelling .swiper_overlay .productCardPopUp .right .buttons .top_buttons .quantity {
    width: 100%;
  }
  #topSelling .swiper_overlay .productCardPopUp .right .buttons .top_buttons .addToCartBtn {
    width: 100%;
  }
  #content .content_all .primary .top {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}
@media screen and (max-width: 1000px) {
  #content .searchBoxParent {
    display: block;
  }
  #content .content_all .secondary {
    display: none;
    width: 310px;
  }
  #content .content_all .primary {
    width: 100%;
  }
  #content .content_all .primary .top p {
    display: none;
  }
  #content .content_all .primary .top .filter {
    display: block;
  }
}/*# sourceMappingURL=responsive.css.map */