:root {
    --primary: #7000FE;
    --primary_hover: #8500fe;
    --secondary: #2D61F2;
    --secondary_hover: #2875D9;
    --text: #494F66;
    --text_light: #8F8F8F;
    --accent: #000000;
    --light: #A3A7B6;
    --border: #E8E8E8;
    --border_light: #C1C1C1;
    --background: #F5F7FA;
    --background_light: #F6F6F6;
}

::selection {
    color: var(--background);
    background: var(--primary);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f7fa;
}

.d-flex {
    display: flex;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.d-grid {
    display: grid;
}

.container {
    max-width: 1410px;
    height: 100%;
    margin: auto;
}

header {
    padding: 30px;
    justify-content: space-between;
}

nav {
    width: 40%;

    .navList {
        gap: 20px;

        .mobile_visible_nav {
            display: none;
        }

        li {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 28px;

            a {
                &:hover {
                    color: var(--primary);
                }
            }
        }
    }
}

.mobileHeaderNav {
    padding: 0 30px;

    nav {
        display: block;
        width: 100%;

        .navList {
            flex-direction: column;
            gap: 0;

            li {
                text-transform: capitalize;
                padding: 15px 0;
                font-size: 15px;
                font-weight: 500;
                border-bottom: 1px solid var(--border); 

                &:last-child {
                    border: none;
                }
            }
        }
    }
}

.logo {
    width: 20%;
    min-width: 136px;
    min-height: 28px;
    max-height: 32px;

    img {
        max-height: 100px;
    }
}

.header_left {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.searchBoxParent {


    .searchBox {
        padding: 12px 20px;
        border: none;
        box-shadow: 0 0 7px rgba(0, 0, 0, .09);
        width: 280px;
        border-radius: 30px;

        .searchBoxForm {
            justify-content: space-between;

            input {
                font-size: 13px;
                font-weight: 400;
                line-height: 1.5384615385;

                &::placeholder {
                    font-size: 13px;
                }

                &:focus {
                    &::placeholder {
                        transition: 1s 1s;
                        color: transparent;
                    }
                }
            }
        }
    }
}

.bars {
    font-size: 30px;
    cursor: pointer;
    display: none;
    justify-content: flex-end;
    flex-direction: column;

    span {
        height: 2px;
        margin-bottom: 3px;
        border-radius: 5px;
        display: block;
        background-color: var(--accent);
        transition: 0.3s ease;

        &:nth-child(1) {
            width: 24px;
        }

        &:nth-child(2) {
            width: 16px;
        }

        &:nth-child(3) {
            width: 12px;
        }
    }
}

.icons {
    gap: 10px;
    margin-left: 10px;
}

.overlay_all {
    z-index: 1111111111;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    background-color: #0000003b;

    .overlay {
        width: calc(100% - 330px);
        height: 100%;
    }

    .overlay_nav {
        width: 330px;
        background-color: #fff;
        height: 100%;
        transition: 0.3s ease;
        overflow-x: hidden;

        .title {
            justify-content: space-between;
            background-color: #f7f7f7;
            width: 100%;
            height: 85px;
            padding: 0px 30px;

            h3 {
                height: 100%;
                display: flex;
                align-items: center;
                border-bottom: 2px solid var(--primary);
            }
        }
    }
}

#mainSlider {
    width: 100%;
    height: 680px;
    background: url(https://demo2.pavothemes.com/printec/wp-content/uploads/2023/02/rev_home7.jpg);
    position: relative;
    overflow: hidden;

    .slider_all {
        width: 100%;
        height: 100%;
        align-items: center;

        .slider_card {
            display: flex;
            height: 460px;
            padding: 50px 70px;

            .img_animation {
                left: 0;
                top: 0;
                position: absolute;
                z-index: 11;
                width: 100%;
                height: 100%;
                object-fit: fill;
                animation: leftRight 8s infinite linear;
            }

            .slider_card_left {
                width: 50%;
                position: relative;
                z-index: 111;

                h3 {
                    text-transform: uppercase;
                    color: rgb(0, 0, 0);
                    line-height: 18px;
                    letter-spacing: 2px;
                    font-weight: 700;
                    font-size: 14px;
                }

                h1 {
                    margin: 10px 0 45px;
                    color: rgb(0, 0, 0);
                    max-width: 560px;
                    line-height: 60px;
                    letter-spacing: -1px;
                    font-weight: 600;
                    font-size: 58px;
                }

                p {
                    line-height: 28px;
                    letter-spacing: 0px;
                    font-weight: 400;
                    font-size: 16px;
                    max-width: 350px;
                    margin-bottom: 45px;
                }

                .shopNow {
                    a {
                        background-color: rgb(255, 255, 255);
                        line-height: 60px;
                        font-weight: 700;
                        font-size: 14px;
                        padding-left: 42px;
                        border-radius: 36px;
                        padding-right: 42px;
                        height: 60px;
                        display: inline-block;
                        transition: 0.3s;

                        &:hover {
                            background-color: var(--primary_hover);
                            color: #fff;

                            svg {
                                transform: rotate(0);
                            }
                        }

                        svg {
                            transition: 0.2s;
                            position: relative;
                            transform: rotate(-45deg);
                            margin-left: 10px;
                        }
                    }
                }

            }

            .slider_card_right {
                width: 50%;

                .orange_animation {
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    left: 40%;
                    transform: translateY(-50%);
                    background: linear-gradient(315deg, rgb(242, 167, 48) 0%, rgb(244, 214, 61) 100%);
                    width: 470px;
                    height: 470px;
                    border-radius: 50%;
                    opacity: 1;
                    animation: blinking 2s linear infinite;
                }

                img {
                    z-index: 111;
                    position: relative;
                }
            }
        }
    }
}

@keyframes leftRight {
    0% {
        left: 0;
    }

    50% {
        left: 3%;
    }

    100% {
        left: 0;
    }
}

@keyframes blinking {
    0% {
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }

    50% {
        transform: translateY(-50%) scale(1.05);
        opacity: 0.5;
    }

    100% {
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
}

.swiper {
    // padding:70px 0;
    height: 100%;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 2px solid white;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: white;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

#categories {
    margin-top: 80px;

    .categories_cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;

        .categoryCard {
            height: 330px;
            box-shadow: 0 1px 24px 0 rgba(0, 0, 0, .05);
            background-color: #fff;
            border-radius: 30px;
            padding: 30px;

            a {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;

                &:hover {
                    .img {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }

                h3 {
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: uppercase;
                    line-height: 24px;
                }

                .img {
                    height: 213px;

                    img {
                        transition: 0.3s ease;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }

        }
    }
}

.subtitle {
    font-style: 12px;
    font-weight: 800px;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 2px;
    color: var(--primary);
    height: 43px;
    text-align: center;
}

#advantages {
    margin-top: 100px;

    .advantages_all {
        .title {
            text-align: center;
            margin-bottom: 87px;

            h2 {
                font-size: 45px;
                font-weight: 800px;
                line-height: 50px;
                letter-spacing: -2px;
                max-width: 540px;
                margin: auto;

                span {
                    color: var(--primary);
                }

                margin-bottom: 12px;
            }

            p {
                font-size: 14px;
                line-height: 24px;
                color: var(--text);
                max-width: 595px;
                margin: auto;
            }
        }

        .advantage_cards {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .advantage_card {
                text-align: center;
                width: 23%;

                &:last-child {
                    .arrow {
                        display: none;
                    }
                }

                .img {
                    position: relative;

                    &:hover {
                        .card_img {
                            transform: scale(0.9);
                        }
                    }

                    .card_img {
                        transition: 0.3s;
                        margin: auto;
                    }

                    margin-bottom: 35px;

                }

                .text {
                    h3 {
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 28px;
                        letter-spacing: -.01em;
                        margin-bottom: 15px;
                    }

                    p {
                        margin: auto;
                        max-width: 243px;
                        font-size: 14px;
                        line-height: 24px;
                        color: var(--text);
                    }
                }

                .arrow {
                    position: absolute;
                    width: 90px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 100%;
                }
            }
        }
    }
}

#discover {
    margin-top: 145px;

    .discover_all {
        width: 100%;
        height: 460px;
        background: url(../images/banner-h7.jpg);
        border-radius: 36px;
        padding: 0 85px;

        .text {
            max-width: 587px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            align-items: flex-start;

            h3 {
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 28px;
                letter-spacing: .03em;
                color: #fff;
                margin-bottom: 17px;
            }

            h2 {
                font-size: 50px;
                font-weight: 700;
                text-transform: none;
                line-height: 54px;
                letter-spacing: -2px;
                color: #fff;
                margin-bottom: 56px;
            }
        }

        a {
            background-color: transparent;
            border: 2px solid #fff;
            color: #fff;
            line-height: 60px;
            font-weight: 700;
            font-size: 14px;
            padding-left: 42px;
            border-radius: 36px;
            padding-right: 42px;
            display: inline-block;
            transition: 0.3s;

            &:hover {
                background-color: var(--background);
                color: var(--accent);

                svg {
                    transform: rotate(0);
                }
            }

            svg {
                width: 15px;
                height: 15px;
                transition: 0.2s;
                position: relative;
                transform: rotate(-45deg);
                margin-left: 10px;
            }
        }
    }
}

.topSellingCard {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    transition: .3s;

    &:hover {
        background-color: #fff;
        transform: scale(.98);
        box-shadow: 0 1px 15px rgba(0, 0, 0, .07);
        .img .buttons {
            top: 4%;
            opacity: 1;
        }
        .text {
            button {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .img {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;

       

        img {
            border-radius: 30px;
        }

        .buttons {
            transition: .3s;
            top: 8%;
            left: 78%;
            opacity: 0;
            position: absolute;
            display: flex;
            flex-direction: column;

            button {
                color: var(--accent);
                background-color: #fff;
                transition: all ease-in-out .3s;
                position: relative;
                width: 40px;
                line-height: 40px;
                height: 40px;
                text-align: center;
                margin: 5px;
                border-radius: 50%;
                box-shadow: 0 0 15px rgba(0, 0, 0, .05);

                &:hover {
                    color: #fff;
                    background: var(--primary);
                }
            }
        }
    }

    .text {
        text-align: center;

        h3 {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            margin-bottom: 10px;

            &:hover {
                color: var(--primary);
            }

        }

        p {
            font-size: 18px;
            font-weight: 700;
            line-height: 1.3333333333;
            color: var(--accent);
        }

        .prices_div {
            display: flex;
            justify-content: center;
            gap: 6px;
            align-items: center;

            p {
                &:nth-child(1) {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1.6;
                    color: var(--text_light);
                    text-decoration: line-through;
                }

                &:nth-child(2) {
                    color: #e84040;
                }
            }
        }

        button {
            margin-top: 25px;
            color: #fff;
            padding: 5px 36px;
            line-height: 40px;
            background-color: var(--accent);
            font-size: 14px;
            font-weight: 600;
            border-radius: 30px;
            width: 90%;
            visibility: hidden;
            opacity: 0;
            transition: opacity .3s;

            &:hover {
                background-color: var(--primary);
            }
        }

    }
}

#topSelling {
    .title {
        margin: 140px 0 70px;
        text-align: center;
        margin-bottom: 87px;

        h2 {
            font-size: 45px;
            font-weight: 800px;
            line-height: 50px;
            letter-spacing: -2px;
            max-width: 540px;
            margin: auto;

            span {
                color: var(--primary);
            }

            margin-bottom: 12px;
        }

        p {
            font-size: 14px;
            line-height: 24px;
            color: var(--text);
            max-width: 595px;
            margin: auto;
        }
    }
}

.swiper_overlay {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1111;
    background-color: #000000b5;
    width: 100%;
    height: 100vh;

    .swiper-slide {
        display: flex;
    }

    .productCardPopUp {
        background-color: #fff;
        margin: auto;
        height: 460px;
        width: 80%;
        min-width: 288px;
        max-width: 920px;

        .img {
            width: 50%;
        }

        .right {
            width: 50%;
            overflow-y: scroll;
            padding: 20px;

            .productCardPopUp_title {
                h3 {
                    font-size: 36px;
                    line-height: 1;
                    font-weight: 800;
                    margin-bottom: 16px;
                    color: var(--accent);
                }
            }

            .price {
                margin-bottom: 28px;
                padding-bottom: 20px;
                border-bottom: 1px solid var(--border);

                p {
                    color: #363636;
                    font-size: 25px;
                    line-height: 1;
                    font-weight: 600;
                }

                .discountPrice {
                    color: #e84040;
                }

                .oldPrice {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 26px;
                    color: var(--text_light);
                }
            }
        }

        .description {
            margin-bottom: 42px;

            p {
                font-size: 14px;
                line-height: 1.7142857143;
                text-rendering: optimizeLegibility;
                color: var(--text);
                font-family: var(--e-global-typography-text-font-family);
            }
        }

        .options {
            .product_option {
                justify-content: space-between;
                align-items: center;

                h4 {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    color: var(--accent);
                }

                .select {
                    padding: 12px 35px 12px 25px;
                    color: var(--text);
                    background-color: #edeef1;
                    border-radius: 30px;
                    width: 70%;

                    select {
                        outline: none;
                        width: 100%;
                        vertical-align: middle;

                        option {
                            color: var(--text);
                            border: none;
                            width: 110%;
                            background: var(--background_light);
                        }
                    }
                }
            }
        }

        .price2 {
            font-size: 24px;
            line-height: 1;
            font-weight: 500;
            margin-right: 0;
            align-items: center;
            color: var(--primary);
        }

        .buttons {
            margin-top: 40px;

            .top_buttons {
                align-items: center;

                .quantity {
                    justify-content: space-between;
                    align-items: center;
                    width: 150px;
                    height: 50px;
                    background: #edeef1;
                    padding: 12px 10px;
                    border-radius: 30px;
                    margin-right: 10px;

                    span {
                        font-size: 14px;
                        font-weight: 800;
                    }

                    button {
                        border-radius: 100%;
                        width: 26px;
                        height: 26px;
                        font-size: 20px;

                        &:hover {
                            background: #fff;
                        }
                    }
                }

                .addToCartBtn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 60%;

                    button {
                        font-size: 14px;
                        line-height: 24px;
                        font-weight: 800;
                        white-space: nowrap;
                        z-index: 1;
                        width: 100%;
                        height: 100%;
                        transition: all .3s ease;
                        background: var(--accent);
                        color: #fff;
                        border-radius: 30px;

                        &:hover {
                            background-color: var(--primary);
                        }
                    }

                    .disabledBtn {
                        cursor: not-allowed;
                        background-color: rgb(64, 64, 64);

                        &:hover {
                            background-color: rgb(64, 64, 64);
                        }
                    }
                }

            }

            .sub_buttons {
                margin-top: 20px;

                button {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0;
                    text-transform: capitalize;
                    border-radius: 0;
                    margin-right: 30px;
                    margin-top: 17px;
                    text-align: center;
                    border: none;
                    clip-path: none;
                    color: var(--accent);
                }
            }
        }

        .properties {
            margin-top: 30px;

            li {
                color: var(--light);
                font-weight: 500;
                font-size: 14px;
                line-height: 2.1428571429;

                span {
                    color: var(--accent);
                }
            }
        }
    }
}

#partners {
    margin-top: 40px;
    background-image: linear-gradient(180deg, #EDEEF1 0%, #EDEEF100 100%);
    padding: 120px 0px;

    .partners_all {
        max-width: 1005px;
        margin: auto;

        .partners_text_swiper {
            margin-bottom: 50px;

            .partnersTextCard {
                color: var(--accent);
                font-family: poppins, Sans-serif;
                font-size: 24px;
                font-weight: 500;
                line-height: 36px;
                letter-spacing: -.01em;

                p {
                    text-align: center;
                }
            }
        }

        .partners_img_swiper {
            .partnersImgCard {
                height: 77px;

                &:hover {
                    .img_div {
                        transform: translateY(0px);
                    }
                }

                .img_div {
                    transform: translateY(-77px);
                    transition: .3s;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

#signUp {
    height: 360px;
    margin-bottom: 60px;

    .signUp_all {
        border-radius: 36px;
        background: url(https://demo2.pavothemes.com/printec/wp-content/uploads/2023/02/h5-bg.jpg);
        height: 100%;
        padding: 30px;

        .sign_up_container {
            height: 100%;
            justify-content: space-between;
            align-items: center;

            img {
                width: 148px;
                height: 148px;
                margin: 0 20px 0 50px;
            }

            .text {
                max-width: 395px;

                p {
                    color: #f5f7fa;
                    font-size: 45px;
                    font-weight: 600;
                    line-height: 50px;
                    letter-spacing: -2px;
                }
            }

            .form_div {
                width: 50%;

                p {
                    font-size: 14px;
                    line-height: 28px;
                    color: #fff;
                    max-width: 415px;
                    margin-bottom: 35px;
                }

                form {
                    width: 100%;

                    input {
                        max-width: 415px;
                        width: 100%;
                        border-radius: 100px 100px 100px 100px;
                        margin: 0 10px 0 0;
                        font-size: 13px;
                        line-height: 26px;
                        color: var(--accent);
                        background-color: #fff;
                        border: 1px solid transparent;
                        font-weight: 400;
                        padding: 16px 25px;
                    }

                    button {

                        background-color: var(--primary);
                        line-height: 60px;
                        font-weight: 700;
                        font-size: 14px;
                        padding-left: 42px;
                        border-radius: 36px;
                        padding-right: 42px;
                        height: 60px;
                        transition: 0.3s;
                        color: #fff;

                        &:hover {
                            background-color: var(--primary_hover);

                            svg {
                                transform: rotate(0);
                            }
                        }

                        svg {
                            transition: 0.2s;
                            position: relative;
                            transform: rotate(-45deg);
                            margin-left: 10px;
                        }
                    }
                }
            }
        }

    }
}

#footer {
    margin-top: 100px;
    padding-bottom: 50px;

    .footer_all {
        .footer_bottom {
            padding-top: 43px;
            justify-content: space-between;
            border-top: 1px solid var(--border);

            .copyright {
                font-size: 15px;
                font-weight: 500;
                line-height: 26px;
                color: var(--text);
                width: 30%;
            }

            .payment_methods {
                width: 30%;
            }

            .back_to_top {
                width: 30%;
                font-size: 12px;
                text-transform: uppercase;
                line-height: 26px;
                justify-content: flex-end;
                font-weight: 600;

                a {
                    transition: .1s;

                    &:hover {
                        color: var(--primary);
                    }
                }

                svg {
                    color: var(--primary);
                }
            }
        }
    }
}


#titleSection {
    width: 100%;
    height: 220px;
    background-image: url(https://demo2.pavothemes.com/printec/wp-content/uploads/2023/02/global_bc.jpg);
    flex-direction: column;

    h1 {
        text-align: center;
        color: var(--accent);
        font-size: 50px;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 54px;
        letter-spacing: -2px;
        margin-bottom: 20px;
    }

    .directory {
        color: var(--text);
        line-height: 1.4285714286;
        text-transform: capitalize;
        font-size: 14px;
        display: flex;
        gap: 10px;
        justify-content: center;

    }
}

#content {
    margin-top: 60px;

    .content_all {
        .secondary {
            width: 310px;

            h3 {
                color: var(--accent);
                margin-bottom: 30px;
                font-size: 20px;
                line-height: 1.125em;
                letter-spacing: -.02em;
                font-weight: 600;
            }



        }

        .secondary_box {
            margin-bottom: 30px;
            background-color: #fff;
            border-radius: 30px;
            padding: 30px;
            width: 100%;

            .searchBox {
                width: 250px;
            }

            .categories {
                li {
                    margin-bottom: 12.5px;

                    a {
                        color: var(--text);
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 1.7142857143;
                        transition: .2s;

                        &:hover {
                            color: var(--primary);
                        }
                    }

                }
            }

            .bottom {
                margin-top: 25px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .price_range {
                    line-height: 1.5714285714;
                    font-size: 14px;
                    color: var(--accent);
                }

                button {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    text-transform: uppercase;
                    color: var(--accent);
                }
            }

            .rc-slider-handle {
                border-color: var(--primary);
                margin-top: -6px;
                opacity: 1;
            }

            .rc-slider-track {
                background: var(--primary);
                height: 2px;
            }

            .rc-slider-step,
            .rc-slider-rail {
                height: 2px;
            }

            .products {
                flex-direction: column;
                gap: 15px;

                .secondaryBoxProdCard {
                    .left {
                        width: 80px;
                        height: 80px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .right {
                        flex-direction: column;
                        justify-content: center;
                        gap: 15px;
                        padding-left: 20px;

                        h4 {
                            color: var(--accent);
                            font-size: 14px;
                            line-height: 22px;
                            font-weight: 500;
                        }

                        p {
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 1.375;
                            color: var(--accent);
                        }
                    }
                }
            }

            .colors {
                display: flex;
                gap: 10px;

                li {
                    a {
                        display: block;
                        width: 30px;
                        height: 30px;
                        border: 1px solid var(--border);
                        border-radius: 50%;
                        padding: 2px;

                        &:hover {
                            border: 1px solid var(--accent);
                            padding: 10px;
                        }
                    }

                    &:nth-child(1) {
                        a {
                            background-color: #000000;
                        }
                    }

                    &:nth-child(2) {
                        a {
                            background-color: #5173a6;
                        }
                    }

                    &:nth-child(3) {
                        a {
                            background-color: #c69a02;
                        }
                    }

                    &:nth-child(4) {
                        a {
                            background-color: #20b2aa;
                        }
                    }

                    &:nth-child(5) {
                        a {
                            background-color: #ffc0cb;
                        }
                    }

                    &:nth-child(6) {
                        a {
                            background-color: #7000fe;
                        }
                    }
                }
            }

            .tagButton {
                display: inline-block;
                font-size: 12px;
                line-height: 18px;
                font-weight: 400;
                padding: 8px 18px;
                margin-bottom: 6px;
                margin-right: 3px;
                color: var(--light);
                border: 1px solid var(--border);
                border-radius: 20px;
                text-transform: capitalize;
                transition: all .3s ease;

                &:hover {
                    background-color: var(--primary);
                    color: #fff;
                }
            }

        }

        .secondary_overlay {
            z-index: 1111111111;
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            overflow: hidden;
            background-color: #0000003b;

            .secondary_overlay_sidebar {
                width: 330px;
                background-color: var(--background);
                height: 100%;
                transition: 0.3s ease;
                overflow-x: hidden;

                .title {
                    justify-content: space-between;
                }

                .secondary_box {
                    background-color: transparent;
                    border-bottom: 1px solid var(--border);
                    border-radius: 0;
                    &:nth-child(1){
                        border: none;
                        h3 {
                            margin-bottom: 0px;
                        }
                    }
                    &:last-child{
                        border: none;
                    }
                    h3 {
                        margin-bottom: 30px;
                        font-size: 20px;
                        line-height: 1.125em;
                        letter-spacing: -.02em;
                        font-weight: 600;
                    }
                }
            }
        }

        .primary {
            width: calc(100% - 310px);
            padding: 10px 20px;

            .top {
                padding: 0 20px;
                justify-content: space-between;

                p {
                    font-weight: 500;
                    font-size: 14px;
                    color: var(--accent);
                }

                select {
                    padding: 10px 40px 10px 20px;
                    border-radius: 30px;
                    background-color: #edeef1;
                    font-weight: 500;
                    font-size: 14px;
                    cursor: pointer;
                    outline: none;
                    width: fit-content;
                }

                .filter {
                    display: none;

                    button {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 1.7142857143;
                        text-align: center;
                        color: var(--accent);
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }

                }
            }

            .shop_products {
                margin-top: 40px;
                display: grid;
                width: 100%;
                grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
            }

            .change_page {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;

                .previous,
                .next {
                    font-size: 15px;
                    line-height: 1;
                    font-weight: 500;

                    a {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }
                }

                .numbers {
                    a {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;

                        &:hover {
                            color: var(--primary);
                        }

                    }

                    a.active {
                        background-color: var(--primary);
                        color: #fff;
                    }
                }
            }
        }
    }
}