:root {
  --primary: #7000FE;
  --primary_hover: #8500fe;
  --secondary: #2D61F2;
  --secondary_hover: #2875D9;
  --text: #494F66;
  --text_light: #8F8F8F;
  --accent: #000000;
  --light: #A3A7B6;
  --border: #E8E8E8;
  --border_light: #C1C1C1;
  --background: #F5F7FA;
  --background_light: #F6F6F6;
}

body {
  font-family: "Poppins", sans-serif;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.d-grid {
  display: grid;
}

.container {
  max-width: 1410px;
  height: 100%;
  margin: auto;
}

header {
  padding: 30px;
  justify-content: space-between;
}

nav {
  width: 40%;
}
nav .navList {
  gap: 20px;
}
nav .navList li {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 28px;
}
nav .navList li a:hover {
  color: var(--primary);
}

.mobileHeaderNav {
  padding: 0 30px;
}
.mobileHeaderNav nav {
  display: block;
  width: 100%;
}
.mobileHeaderNav nav .navList {
  flex-direction: column;
  gap: 0;
}
.mobileHeaderNav nav .navList li {
  text-transform: capitalize;
  padding: 15px 0;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid var(--border);
}
.mobileHeaderNav nav .navList li:last-child {
  border: none;
}

.logo {
  width: 15%;
  min-width: 136px;
  min-height: 28px;
}

.searchBoxParent {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.searchBoxParent .searchBox {
  padding: 12px 20px;
  border: none;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.09);
  width: 280px;
  border-radius: 30px;
}
.searchBoxParent .searchBox .searchBoxForm {
  justify-content: space-between;
}
.searchBoxParent .searchBox .searchBoxForm input {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5384615385;
}
.searchBoxParent .searchBox .searchBoxForm input::-moz-placeholder {
  font-size: 13px;
}
.searchBoxParent .searchBox .searchBoxForm input::placeholder {
  font-size: 13px;
}
.searchBoxParent .searchBox .searchBoxForm input:focus::-moz-placeholder {
  -moz-transition: 1s 1s;
  transition: 1s 1s;
  color: transparent;
}
.searchBoxParent .searchBox .searchBoxForm input:focus::placeholder {
  transition: 1s 1s;
  color: transparent;
}

.bars {
  font-size: 30px;
  cursor: pointer;
  display: none;
  justify-content: flex-end;
  flex-direction: column;
}
.bars span {
  height: 2px;
  margin-bottom: 3px;
  border-radius: 5px;
  display: block;
  background-color: var(--accent);
  transition: 0.3s ease;
}
.bars span:nth-child(1) {
  width: 24px;
}
.bars span:nth-child(2) {
  width: 16px;
}
.bars span:nth-child(3) {
  width: 12px;
}

.overlay_all {
  z-index: 1111111111;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.231372549);
}
.overlay_all .overlay {
  width: calc(100% - 330px);
  height: 100%;
}
.overlay_all .overlay_nav {
  width: 330px;
  background-color: #fff;
  height: 100%;
  transition: 0.3s ease;
  overflow: hidden;
}
.overlay_all .overlay_nav .title {
  justify-content: space-between;
  background-color: #f7f7f7;
  width: 100%;
  height: 85px;
  padding: 0px 30px;
}
.overlay_all .overlay_nav .title h3 {
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--primary);
}

#mainSlider {
  width: 100%;
  height: 680px;
  background: url(https://demo2.pavothemes.com/printec/wp-content/uploads/2023/02/rev_home7.jpg);
  position: relative;
  overflow: hidden;
}
#mainSlider .slider_all {
  width: 100%;
  height: 100%;
  align-items: center;
}
#mainSlider .slider_all .slider_card {
  display: flex;
  height: 460px;
  padding: 50px 70px;
}
#mainSlider .slider_all .slider_card .img_animation {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 11;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  animation: leftRight 8s infinite linear;
}
#mainSlider .slider_all .slider_card .slider_card_left {
  width: 50%;
  position: relative;
  z-index: 111;
}
#mainSlider .slider_all .slider_card .slider_card_left h3 {
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  line-height: 18px;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 14px;
}
#mainSlider .slider_all .slider_card .slider_card_left h1 {
  margin: 10px 0 45px;
  color: rgb(0, 0, 0);
  max-width: 560px;
  line-height: 60px;
  letter-spacing: -1px;
  font-weight: 600;
  font-size: 58px;
}
#mainSlider .slider_all .slider_card .slider_card_left p {
  line-height: 28px;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 16px;
  max-width: 350px;
  margin-bottom: 45px;
}
#mainSlider .slider_all .slider_card .slider_card_left .shopNow a {
  background-color: rgb(255, 255, 255);
  line-height: 60px;
  font-weight: 700;
  font-size: 14px;
  padding-left: 42px;
  border-radius: 36px;
  padding-right: 42px;
  height: 60px;
  display: inline-block;
  transition: 0.3s;
}
#mainSlider .slider_all .slider_card .slider_card_left .shopNow a:hover {
  background-color: var(--primary_hover);
  color: #fff;
}
#mainSlider .slider_all .slider_card .slider_card_left .shopNow a:hover svg {
  transform: rotate(0);
}
#mainSlider .slider_all .slider_card .slider_card_left .shopNow a svg {
  transition: 0.2s;
  position: relative;
  transform: rotate(-45deg);
  margin-left: 10px;
}
#mainSlider .slider_all .slider_card .slider_card_right {
  width: 50%;
}
#mainSlider .slider_all .slider_card .slider_card_right .orange_animation {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  background: linear-gradient(315deg, rgb(242, 167, 48) 0%, rgb(244, 214, 61) 100%);
  width: 470px;
  height: 470px;
  border-radius: 50%;
  opacity: 1;
  animation: blinking 2s linear infinite;
}
#mainSlider .slider_all .slider_card .slider_card_right img {
  z-index: 111;
  position: relative;
}

@keyframes leftRight {
  0% {
    left: 0;
  }
  50% {
    left: 3%;
  }
  100% {
    left: 0;
  }
}
@keyframes blinking {
  0% {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-50%) scale(1.05);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
}
.swiper {
  height: 100%;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 2px solid white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */